useDynLib(bnplasso)
importFrom(Rcpp, evalCpp)
import(stats)
importFrom(actuar, rinvgauss)
importFrom(actuar, rinvgamma)
importFrom(progress, progress_bar)
importFrom(coda, effectiveSize)
importFrom(FKSUM, fk_density)
importFrom(graphics, legend)
importFrom(graphics, lines)
importFrom(graphics, polygon)
importFrom(graphics, abline)
importFrom(graphics, box)
importFrom(graphics, hist)
importFrom(graphics, par)
importFrom(BNPmix, partition)
import(ggplot2)
import(viridis)
importFrom(loo, relative_eff)
importFrom(loo, loo)
importFrom(loo, waic)
S3method(print, lmBayes)
S3method(summary, lmBayes)
S3method(plot, lmBayes)
S3method(fitted, lmBayes)
S3method(fitted.values, lmBayes)
S3method(residuals, lmBayes)
S3method(resid, lmBayes)
S3method(coef, lmBayes)
S3method(coefficients, lmBayes)
S3method(predict, lmBayes)
S3method(print, spmBayes)
S3method(summary, spmBayes)
S3method(plot, spmBayes)
S3method(fitted, spmBayes)
S3method(fitted.values, spmBayes)
S3method(coef, spmBayes)
S3method(coefficients, spmBayes)
export(print.lmBayes)
export(summary.lmBayes)
export(plot.lmBayes)
export(fitted.lmBayes)
export(fitted.values.lmBayes)
export(residuals.lmBayes)
export(resid.lmBayes)
export(coef.lmBayes)
export(coefficients.lmBayes)
export(predict.lmBayes)
export(elppd)
export(point.estimates)
export(bnplasso.lm)
export(coclust.point)
export(coclust.probs)
export(get.partition)
export(psis.loo)
export(widely.aic)
export(bnplasso.spm)
